.container {
    max-width: 1400px;
    margin: 0 auto;
}

.containerFlex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.titulo {
    font-size: 4rem;
    text-transform: uppercase;
    color: #243b55;
    text-align: center;
    font-family: sans-serif;
    padding: 1rem;
}



@media(max-width: 550px) {
    .titulo {
        font-size: 2rem;
    }
    .containerFlex {
        gap: 20px;
    }
}