.container {
 border: 1px solid #333;
width: 700px;
height: 140px;
align-items: center;
}


.titulo {
    padding: 0;
    background: linear-gradient(to right,#365477,#1d3053);
    color: white;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 20px;
    padding: 0.2rem;
}



.contentCarousel {
    font-size: 1.2rem;
    text-align: center;
    font-family: sans-serif;
}

@media(max-width: 550px) {
    .contentCarousel  {
        font-size: 1rem;
    }
    .container {
        width: 300px;
        height: 120px;
    }

    .titulo{
        font-size: 1.125rem;
    }
}